<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container py-4">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-7">
          <h2><%= title %></h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-7">
          <form action="/save" method="post">
            <div class="form-group">
              <label for="first_name">Имя</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                placeholder="Имя"
                name="first_name"
                required
              />
            </div>
            <div class="form-group">
              <label for="last_name">Фамилия</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                placeholder="Фамилия"
                name="last_name"
              />
            </div>
            <div class="form-group">
              <label for="personal_id_code">Персональный код</label>
              <input
                type="text"
                class="form-control"
                id="personal_id_code"
                placeholder="Персональный Код"
                name="personal_id_code"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Почта</label>
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Почта"
                name="email"
                required
              />
            </div>
            <div class="form-group">
              <label for="service">Услуга</label>
              <input
                type="text"
                class="form-control"
                id="service"
                placeholder="Услуга"
                name="service"
                required
              />
            </div>
            <div class="form-group">
              <label for="price">Цена</label>
              <input
                type="text"
                class="form-control"
                id="price"
                placeholder="Цена"
                name="price"
                required
              />
            </div>
            <div class="form-group">
              <label for="date">Дата</label>
              <input
                type="text"
                class="form-control"
                id="date"
                placeholder="Дата: 0000-00-00"
                name="date"
                required
              />
            </div>
            <div class="form-group">
              <a class="btn btn-danger" href="/">Отмена</a>
              <span class="float-right">
                <button type="submit" class="btn btn-primary">Добавить</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
